<launch>
    <arg name="map" value="icra"/>
    <master auto="start"/>

    <param name="/use_sim_time" value="true"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="false"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <!-- launch the ICRA gazebo world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find roborts_gazebo)/worlds/ICRA_3D_MAP.world"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <arg name="model" value="$(find roborts_gazebo)/robots/infantry.xacro" />
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />

    <include file="$(find roborts_gazebo)/launch/spawn_robot.launch">
        <arg name="pos_x" value="1"/>
        <arg name="pos_y" value="1"/>
        <arg name="pos_z" value="0.08"/>
        <arg name="pos_R" value="0"/>
        <arg name="name" value="infantry"/>
    </include>

    <!-- Run the slam -->
    <include file="$(env ROBORTS_PATH)/tools/simulator/slam_gmapping.xml"/>

    <!-- Run the Gazebo Simulator -->
    <node name="uwb_tf_static_publisher" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 1 map uwb 100" />

    <!-- Run the rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find roborts)/tools/rviz/rm.rviz" />

    <!-- Run the Global Planner Node -->
    <node pkg="roborts" type="global_planner_node" name="global_planner_node" respawn="false" />

    <!-- Run the Local Planner Node -->
    <node pkg="roborts" type="local_planner_node" name="local_planner_node" respawn="false" />

    <!-- Run the Decision Node -->
    <node pkg="roborts" type="test_decision_node" name="test_decision_node" respawn="false" />


</launch>

