[Unit]
Description=Turn up performance
After=multi-user.target
[Service]
Type=oneshot
ExecStart=/bin/sh /home/dji/max_performance.sh

[Install]
WantedBy=multi-user.target
