<launch>
  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>
  <arg name="map" value="icra2019"/>

  <!-- Run the Stage Simulator -->
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(find roborts_bringup)/worlds/$(arg map).world" respawn="false" >
    <remap from="base_scan" to="scan"/> 
    <param name="base_watchdog_timeout" value="0.01"/>
  </node>

  <!-- Run the slam -->
  <include file="$(find roborts_bringup)/launch/slam_gmapping.xml"/>

  <!-- Run the rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find roborts_bringup)/rviz/mapping.rviz" />

</launch>

