<launch>
  <master auto="start"/>
  <arg name="map"/>
  <param name="/use_sim_time" value="true"/>

  <!-- Run the Stage Simulator -->
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(env RoboRTS_PATH)/tools/stage/${arg map}.world" respawn="false" >
    <remap from="base_scan" to="scan">
    <param name="base_watchdog_timeout" value="0.2"/>
  </node>

  <!-- Run the slam -->
  <include file="$(env RoboRTS_PATH)/tools/stage/slam_gmapping.xml"/>

  <!-- Run the rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(env RoboRTS_PATH)/tools/stage/mapping.rviz" />

</launch>

